/****** Header ********************************/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.navbar img {
    width: 5%;
    height: 20px;
}

.navbar li {
    list-style: none;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar li:hover {
    border-top: 1px var(--main-color) solid;
    color: var(--main-color);
}

.navlinks a {
    display: flex;
    justify-content: center;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}